:root{
    --font: 'Roboto', 'Open Sans', 'Montserrat', 'Poppins', 'Raleway', 'Ubuntu';
}

.aboutUs-content {
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 40px; 
    padding: 50px;
}

.aboutUs-right-content {
    flex: 1; 
    display: flex;
    justify-content: center;
}

#video {
    width: 100%;
    max-width: 500px; 
    border-radius: 10px; 
}

.aboutUs-left-content {
    flex: 1; 
    text-align: left;
}

.aboutUs-left-content h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: 'Lora', var(--font);
}

.aboutUs-left-content p {
    font-size: 1rem;
    line-height: 1.6; 
    text-align: justify;
    font-family: 'Raleway', var(--font);
}

.aboutUs-cards {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 2em; 
    flex-wrap: wrap; 
    padding: 40px 20px; 
}

.card {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    padding: 20px;
    background: #1a1a2e; 
    border-radius: 10px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    max-width: 350px; 
    height: 40vh;
    width: auto;
}

.card img {
    width: 100px; 
    height: auto;
    margin-bottom: 15px; 
}

.sub-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #DAA520; 
    font-family: 'Titillium Web', var(--font);
}

.card p {
    font-size: 1rem;
    color: #333;
    line-height: 1.5; 
    color: aliceblue;
    font-family: 'Poppins', var(--font);
}


