:root{
    --font: 'Roboto', 'Open Sans', 'Montserrat', 'Poppins', 'Raleway', 'Ubuntu';
}

*{
    margin: 0;
    padding: 0;
}

img{
    height: 10vh;
    width: auto;
}

header{
    padding: 0.5em;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Raleway', var(--font);
}

.nav-ul {
    list-style: none;
    display: flex;
    gap: 20px;
    flex-grow: 1; 
    justify-content: center; 
}

.nav-ul li {
    cursor: pointer;
    font-size: 1.3rem;
    color: #1d3557;
    transition: 0.3s;
}

.nav-ul li:hover{
    background-color: #1d3557;
    color: #ebf21f;
    padding: 8px;
    border-radius: 10px;
}

.nav-icons i{
    cursor: pointer;
    transition: 0.3s;
}

.nav-icons {
    display: flex;
    gap: 25px;
    font-size: 1.6rem;
    color: #1d3557;
}

.nav-icons i:hover{
    background-color: #1d3557;
    color: #ebf21f;
    padding: 8px;
    border-radius: 10px;
}

